################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eLearningWebSite/v17
/eLearningAutomotiveWebSite/obj/Debug/net6.0
/eLearningAutomotiveWebSite/obj/Release/net6.0
/eLearningAutomotiveWebSite/obj
/.vs/eLearningAutomotiveWebSite/DesignTimeBuild
