@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <br />
    <br />
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Acces à Privacy uniquement pour SuperAdmin</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Contents" asp-action="Index">Acces aux tutos</a>

    </p>
</div>
